.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & input[type="text"]:invalid {
    outline: 1px solid var(--danger);
  }

  .error {
    display: none;
  }

  & input[type="text"]:invalid + .error {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;
    color: var(--danger);
    font: var(--text-body-xs);
  }
}
