input,
textarea {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--stroke-default);
  color: var(--input-placeholder);

  padding: 0.75rem 1rem;
  font: var(--text);

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  &::placeholder {
    color: var(--input-placeholder);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}



input[type="datetime-local"] {
  text-transform: uppercase;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

textarea:focus {
  outline: 1px solid var(--brand-light);
}

input[type="text"]:focus {
  outline: 1px solid var(--brand-light);
}



