* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand Colors */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* Accent Colors */
  --blue: #59b2ff;
  --navy: #6a59ff;
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --danger: #ff5959;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;

  /* Feedback */
  --danger: #ff5959;

  /* Input */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* Text */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* Font */
  --open-sans: "Open Sans", serif;
  --baloo: "Baloo 2", serif;
  --leckerli: "Leckerli One", cursive;

  --text-logo: 400 2.5rem var(--leckerli);
  --text-md: 800 1.75rem var(--baloo);
  --text-sm: 800 1.125rem var(--baloo);
  --text-body-rd: 600 0.875rem var(--open-sans);
  --text-body-md: 400 1rem var(--open-sans);
  --text-body-sm: 400 0.875rem var(--open-sans);
  --text-body-xs: 400 0.75rem var(--open-sans);
}

body {
  display: grid;

  gap: 1.25rem;

  background-color: var(--shape-background);
  font: var(--text-body-md);
  color: var(--text-body);
  
}

h1 {
  font: var(--text-md);
}

p {
  color: var(--text-heading);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
